body {
    text-align: center;
    background-color: rgb(172, 251, 225);
}

.row {
    display: flex;
}

.fact-container {
    border-radius: 0 0 30px 0;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: rgb(60, 120, 100);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.fact {
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
