body {
	background: hsl(191deg 44% 57%);
	font-family: tahoma;
	color: #494747;
}

#container {
	position: relative;
	width: 95%;
	background: #141e2c;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

#container form:after {
	margin: 0;
	content: "";
	display: block;
	clear: both;
}

input {
	width: 70%;
	padding: 20px;
	background: #000000;
	border: 0;
	float: left;
	font-size: 20px;
	color: #989898;
	outline: none;
}

button {
	padding: 20px;
	width: 25%;
	float: center;
	background: #9ca1b9;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

button:focus {
	outline: none;
}

li {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	font-family: arial;
	font-size: 20px;
	cursor: pointer;
	letter-spacing: 1px;
	color: #ece1e2;
}

li:hover {
	text-decoration: line-through;
	color: red;
	position: relative;
	left: 3px;
	bottom: 3px;
}

@media only screen and (max-width: 1000px) {
	input {
		width: 50%;
	}
}

@media only screen and (max-width: 800px) {
	input {
		font-size: 15px;
	}
	button {
		font-size: 15px;
	}
}
