.email-container {
    width: 50%;
}

#Emails {
    display: flex;
}

#Emails .left-side {
    width: 30% !important;
    height: 41vh;
    border-radius: 24px 0;
    background-color: rgb(56, 56, 56);
    display: block !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#Emails .right-side {
    width: 70% !important;
    height: 41vh;
    background-color: white;
    border-radius: 0 24px 0 0;
    display: block;
    text-align: center;
}

#email-toolbar{
    display: block !important;
    padding-top: 10px;
}

#email-toolbar div {
    padding-top: 15px;
    font-size: 20px;
}

#email-toolbar div:hover {
    color: rgb(20, 20, 20);
}

#Emails button {
    border-radius: 30px;
    background-color: rgb(73, 206, 161);
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

#Emails button:hover {
    background-color: rgb(22, 174, 123);
}

#Emails .right-side input {
    border: 1px solid black;
    width: 95%;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

#Emails #email-list {
    overflow-y: scroll;
    max-height: 35vh;

}

#Emails .email-preview {
    border: 1px solid grey;
    padding: 2px;
    width: 95%;
    color: black;
    font-weight: bold;
    background-color: rgb(148, 148, 148);
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-bottom: 1px;
}

#Emails .email-preview:hover {
    /* opacity: 0.7; */
    background-color: rgb(203, 203, 203);
}


@media only screen and (max-width: 1100px) {
    #Emails button {
        font-size: 15px;
    }

    #Emails .right-side input {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    #Emails button {
        font-size: 10px;
    }

    #Emails .right-side input {
        font-size: 10px;
    }
}